.catalog-list {    
    li {
        position: relative;
        height: 100%;
    }
    padding: 20px;  
    h2, img, p {
        margin-bottom: 10px;
    }
    .js-close {
        width: 30px;
        height: 30px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 5px;
        right: 5px;
        border: none;
        border-radius: 50%;
    }
}

.basicLightbox {
    align-items: flex-start;
}

.modal {
    padding: 20px;
    width: 400px;
    height: 500px;

    img, h2, h3, p {
        margin-bottom: 20px;
    }

    h3 {
        span {
            text-decoration: line-through;
        }
    }

    ul {
        li {
            margin-bottom: 5px;
        }
        margin-bottom: 10px;
    }

    button {
        padding: 10px;
        color: black;
    }



}