<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout</title>
    <link rel="stylesheet" href="../../sass/index.scss" />
  </head>
  <body>
    <header>
      <div>
        <a href="../module_8.html">Home</a>
        <a href="./favorite.html">Favorite</a>
        <a href="./checkout.html">Checkout</a>
      </div>
    </header>
    <ul class="catalog-list js-list"></ul>
    <script type="module" src="../../js/module_8/checkout.js"></script>
  </body>
</html>
