<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Модуль 10 -Взаємодія з бекендом</title>
    <link rel="stylesheet" href="../sass/index.scss" />
  </head>
  <body>
    <a href="../index.html">Go Back</a>
    <h1>Модуль 10 - Взаємодія з бекендом</h1>
    <button type="button" class="btn">Fetch users</button>
    <ul class="user-list"></ul>

    <div>
      <form class="form">
        <label>
          <input type="text" class="city" name="city" />
        </label>
        <button type="submit">Find</button>
      </form>
      <ul class="weather__list js-weather-list"></ul>
    </div>
    <select name="select" id="selectElement" class="my-select"></select>

    <script type="module" src="../js/module_10.js"></script>
  </body>
</html>
