<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Модуль 9 - Асинхронність та Date. Проміси</title>
    <link rel="stylesheet" href="../sass/index.scss" />
  </head>
  <body>
    <a href="../index.html">Go Back</a>
    <h1>Модуль 9 - Асинхронність та Date. Проміси</h1>
    <div class="container">
      <div class="time-lib js-box">
        <h2 class="title">Бібліотека часу</h2>
        <p class="js-time"></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      </div>

      <div class="timer js-timerBox">
        <h2 class="timer__title">Реклама</h2>
        <p class="timer__text">
          Реклама вимкнеться через:
          <span class="timer__counter js-counter">11</span>
        </p>
      </div>

      <p class="notification js-note">Successful completed!!!</p>
    </div>
    <script type="module" src="../js/module_9.js"></script>
  </body>
</html>
