<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../sass/index.scss" />
  </head>
  <body>
    <a href="../index.html">Go Back</a>
    <h1>Модуль 8 – Інфраструктура проектів. Веб-сховище.</h1>
    <div class="container">
      <div class="header-menu">
        <a href="../index.html">Home</a>
        <a href="./module_8/favorite.html">Favorite</a>
        <a href="./module_8/checkout.html">Checkout</a>
      </div>
      <input type="text" class="js-search" />
      <ul class="catalog-list js-list"></ul>
    </div>
    <script type="module" src="../js/module_8.js"></script>
  </body>
</html>
